* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

/*INICIO INTERFACE HEADER */
.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.destaque {
    color: #fff;
}

.dev {
    color: #003785;
}

header {
    padding: 30px 4%;
    background-color: rgba(0, 0, 0, 0.801);
}

/* > SERVE PRA CHMAR A CLASS DIRETAMENTE*/
header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgba(255, 255, 255, 0.301);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);

}

header nav ul {
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/*Animaçaõ linha branca header*/
header nav.menu-desktop ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.3s ease;
}

header nav ul li a:hover::after {
    width: 100%;
}

/*fim animação linha branca*/


header .btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    background-color: #003785;
    color: #fff;

}

header .btn-contato button:hover {
    box-shadow: 0px 0px 8px #343434;
}

/*FIM INTERFACE HEADER*/



/* Interface img */

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #003785;
    animation: flutuar 6s infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}

.textos {
    color: #fff;
    padding: 70px 80px;
    font-size: 15px;
    width: 50%;
}

.textos>h2 {
    padding-top: 10px;
}

/* Estilos dos icones das redes sociais */
.icones {

    background-color: transparent;
    color: #fff;
    padding: 10px 1px;
}

.icones .social-icons {
    display: flex;
    list-style: none;
}

.icones .social-icons li {
    display: inline;
    margin: 0 10px;
}

.icones .social-icons a {
    color: #ffffff84;
    font-size: 28px;
    text-decoration: none;
}

.icones .social-icons a:hover {
    color: #003785;
}

/*Fim estilo das redes sociais*/

/*MENU-MOBILE.*/
.mobile-menu-icone {
    display: none;
    /* faz com que o icone desapareça*/
}

.mobile-menu {
    display: none;
}

.mobile-menu-icone button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

/*FIM MOBILE MENU*/


/* CAIXAS DE ESPECIALIDADES */
.interfa h1 {
    text-align: center;
    color: #fff;
}

section.especialidades {
    padding: 40px 4%;
    position: relative;
}

.especialidades .flex {
    display: flex;
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;
    transition: .2s;
    border: 2px solid #003785;

}

.especialidades .especialidades-box:hover {
    transform: scale(1);
    box-shadow: 0 0 15px #ffffff58;

}

.especialidades .especialidades-box i {
    color: #003785;
    font-size: 70px;

}

.especialidades .especialidades-box h2 {
    font-size: 25px;
    text-align: left;
    margin: 50px 0;
}

.especialidades .especialidades-box p {
    font-size: 14px;
}

/* CAIXAS DE ESPECIALIDADES */

.fotter p {
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

/* RESPOSIVIDADE */
@media screen and (max-width: 1110px) {

    header {
        padding-bottom: 50px;
    }

    /*cabeçalho*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /*menu mobile*/

    .mobile-menu {
        z-index: 1;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
        left: 0;
    }

    .mobile-menu-icone {
        display: block;
        margin-left: auto;
        align-self: flex-end;
        /* Faz o ícone se alinhar ao final da linha */

    }

    .mobile-menu-icone button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: rgb(0, 0, 0);
        top: 0;
        left: 0;
        padding: 50px;
    }

    .open {
        display: block;
    }

    .mobile-menu li {
        margin: 10px 0;
        /* Espaçamento entre os botões */

    }

    .mobile-menu li button {

        border: 2px solid transparent;
        /* Borda invisível por padrão */
        padding: 10px 20px;
        font-size: 18px;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.4s ease;
        width: 100%;
        /* Garante que os botões ocupem a largura toda */
        background-color: transparent;
    }

    /* Efeito de destaque ao passar o mouse (hover) */
    .mobile-menu li button:hover {
        color: #2980b9;
        /* Cor do texto ao passar o mouse */

    }

    /* Efeito ao clicar (active) */
    .mobile-menu li button:active {
        background-color: #2980b9;
        /* Cor de fundo ao clicar */
        color: white;
        /* Cor do texto ao clicar */
        border: 2px solid #1f78b4;
        /* Borda mais escura ao clicar */
    }


    /* img e textos*/
    .container {
        position: relative;
        flex-direction: column;
        left: 0;
        margin-top: 15%;
    }

    .textos {
        width: 100%;
    }

    /* fim img e textos*/


    .especialidades {
        position: relative;

    }

    .especialidades .flex {
        display: flex;
        flex-direction: column;

    }

    .especialidades .especialidades-box {
        transform: scale(0.8);
        border: 2px solid #003785;


    }

}


@media screen and (max-width: 485px) {

    /*cabeçalho*/

    .interface h2 {
        font-size: 17px;
    }

    .menu-desktop,
    .btn-contato {
        display: none;
    }

    .mobile-menu-icone {
        top: 24px;
        right: 5px;
        position: absolute;
        align-items: center;

    }

    .container {
        flex-direction: column;
        right: 0;
    }

    .img-foto {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 7px solid #003785;


    }

    .textos {
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 10px;

    }

    .textos h1 {
        font-size: 20px;
    }

    h2 {
        padding-top: 5px;
    }

    .destaque {
        font-size: 14px;


    }

    .interfa h1 {
        font-size: 20px;

    }



}